body {
  background-color: #f3f2ef;
}

body, input, button {
  font-family: "Poppins", sans-serif;
}

.page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
}

section, .form {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.1);
  width: 100%;
  margin-bottom: 30px;
  padding: 30px;
}

.form .input-container {
  display: none;
  flex-direction: column;
  justify-content: flex-start;
  overflow-y: hidden;
}

.form .input-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.form input, .form button, .form .file-input-label, .form .completion-notification {
  width: 100%;
  height: 40px;
  min-height: 40px;
  background-color: #859ebd;
  color: white;
  border: 1px solid #859ebd;
  border-radius: 3px;
  padding: 10px 12px;
  font-size: 13px;
}

.form input:focus, .form .file-input-label:hover {
  background-color: #496281;
  outline: none;
}

.form .file-input-label {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.form .file-input-label i {
  font-size: 16px;
}

.form .file-input {
  display: none;
}

.form .submit {
  z-index: 2;
}

.form .close {
  margin-bottom: 10px;
}

.form .submit, .form .close {
  background-color: black;
  padding: 5px 10px;
  font-size: 16px;
  cursor: pointer;
}

.form .submit:hover, .form .close:hover {
  background-color: #496281;
}

.form .spacer {
  min-width: 10px;
  max-width: 10px;
}

.form .completion-notification {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
  background-color: #16a085;
  border: none;
}

.form .cn-error {
  background-color: #c44d56;
}

.form .cn-error i:hover {
  color: #ff9da6;
}

.form .completion-notification i {
  cursor: pointer;
  font-size: 15px;
}

.form .completion-notification i:hover {
  color: #66f0d5;
}

.form #company-id {
  display: none;
}

@media (max-width: 430px) {
  input, .file-input-label, .file-input-label i {
    font-size: 10px;
  }
}
@media (min-width: 769px) {
  section, .form {
    width: 709px;
  }
}
@media (min-width: 1025px) {
  section, .form {
    width: 965px;
  }
}
header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  height: 100px;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.1);
}

header .header-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 30px;
  width: 100%;
}

.header-container h1 {
  margin-right: auto;
}

.header-container a {
  background-color: black;
  color: white;
  border-radius: 3px;
  margin-left: 15px;
  padding: 5px 10px;
  font-size: 16px;
}

.header-container a:hover {
  background-color: #496281;
}

@media (max-width: 410px) {
  header {
    height: 80px;
  }

  .header-container h1 {
    font-size: 28px;
  }

  .header-container a {
    font-size: 12px;
    margin-left: 5px;
    padding: 5px 5px;
  }
}
@media (min-width: 769px) {
  header .header-container {
    padding: 0;
    width: 709px;
  }
}
@media (min-width: 1025px) {
  header .header-container {
    width: 965px;
  }
}
@-webkit-keyframes add-comp-appear {
  0% {
    height: 0px;
  }
  100% {
    height: 150px;
  }
}
@keyframes add-comp-appear {
  0% {
    height: 0px;
  }
  100% {
    height: 150px;
  }
}
@-webkit-keyframes add-comp-disappear {
  0% {
    height: 150px;
  }
  100% {
    height: 0px;
  }
}
@keyframes add-comp-disappear {
  0% {
    height: 150px;
  }
  100% {
    height: 0px;
  }
}
.fa-check {
  display: none;
}

.company-list-section {
  padding: 20px 30px;
}

.company-list-titles {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  margin-bottom: 20px;
  color: black;
}

.company-list-titles h2 {
  font-size: 22px;
  margin: 0 auto 0 5px;
  line-height: 13px;
}

.company-list-titles div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  margin-left: 5px;
}

.company-list-titles i {
  font-size: 20px;
  margin: 0;
}

.company-list-section .company-list-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 10px 0;
  height: 40px;
  border-radius: 3px;
  overflow: hidden;
  font-size: 15px;
}

.company-list-item div, .company-list-item a {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: #67809f;
  color: white;
  height: 100%;
}

.company-list-item .large {
  position: relative;
  flex-grow: 1;
  padding: 10px 12px;
  overflow: hidden;
  white-space: nowrap;
  min-width: 10px;
}

.company-list-item .large p {
  text-overflow: ellipsis " [..]";
}

.company-list-item .large div {
  position: absolute;
  right: 0;
  background-color: #67809f;
  width: 12px;
  z-index: 2;
}

.company-list-item .small {
  width: 50px;
  min-width: 50px;
  justify-content: center;
  margin-left: 5px;
}

.company-list-item .button-hover:hover {
  background-color: #496281;
}

.company-list-item p, .company-list-item i {
  margin: 0;
}

.company-list-item .remove-comp-button {
  font-size: 17px;
}

.company-list-item .remove-comp-button:hover {
  background-color: #c44d56;
  cursor: pointer;
}

@media (max-width: 390px) {
  .company-list-titles h2 {
    font-size: 18px;
  }

  .company-list-titles i {
    font-size: 16px;
  }

  .company-list-item p {
    font-size: 13px;
  }
}
.login-container {
  height: 90vh;
  justify-content: center;
}

.login-box h2 {
  position: relative;
  bottom: 12px;
  line-height: 0px;
  margin-left: 5px;
}

@-webkit-keyframes add-em-appear {
  0% {
    height: 0px;
  }
  100% {
    height: 200px;
  }
}

@keyframes add-em-appear {
  0% {
    height: 0px;
  }
  100% {
    height: 200px;
  }
}
@-webkit-keyframes add-em-disappear {
  0% {
    height: 200px;
  }
  100% {
    height: 0px;
  }
}
@keyframes add-em-disappear {
  0% {
    height: 200px;
  }
  100% {
    height: 0px;
  }
}
.company-container .company-info-section {
  display: flex;
  flex-direction: column;
}

.company-info-section .company-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: lightblue;
  font-size: 22px;
  height: 300px;
  border-radius: 3px;
}

.company-info h1 {
  font-size: 25px;
  line-height: 20px;
}

.company-info h3 {
  font-size: 18px;
  line-height: 20px;
  color: #969696;
}

.company-info h3 i {
  margin-right: 10px;
  color: black;
}

.company-info a:hover {
  color: black;
}

.company-container .employee-list-section {
  padding: 20px 30px;
}

.employee-list-section h2 {
  font-size: 22px;
  margin: 0 0 10px 5px;
  line-height: 30px;
}

.employee-list-section .employee-titles {
  display: flex;
  flex-direction: row;
}

.employee-titles h4 {
  display: flex;
  width: 25%;
  font-size: 15px;
  margin: 0 5px 5px 5px;
}

.employee-list-section .employee-list-item {
  display: flex;
  align-items: center;
  flex-direction: row;
  border-radius: 5px;
  height: 40px;
  background-color: red;
  padding: 0;
  overflow: hidden;
  margin: 0 0 10px 0;
}

.employee-list-item p {
  display: flex;
  height: 100%;
  width: 25%;
  background-color: #67809f;
  overflow: auto;
  scrollbar-width: none;
  padding: 10px 8px;
  border-right: 8px solid #67809f;
  border-left: 5px solid white;
  font-size: 13px;
  color: white;
}

.employee-list-item .no-border-left {
  border-left: none;
}

@media (min-width: 1025px) {
  .company-container .company-info-section {
    flex-direction: row;
  }

  .company-info-section .company-logo {
    width: 300px;
    margin-right: 40px;
  }

  .company-info-section h1 {
    margin-top: 10px;
  }
}
