

$background-colour: #f3f2ef;

$blue-gray-lighter: rgba(133, 158, 189, 1);
$blue-gray: rgba(103, 128, 159, 1);
$blue-gray-darker: rgba(73, 98, 129, 1);

$green-success: rgba(22, 160, 133, 1);
$green-success-lighter: rgba(102, 240, 213, 1);

$red-error: rgba(196, 77, 86, 1);
$red-error-lighter: rgba(276, 157, 166, 1);

$light-gray: rgba(150, 150, 150, 1);
